<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Kabupaten</h4>
            </div>
            <form id="form2" method="POST" action="/kab/addkab">
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Provinsi</label>
                                    <select id="id_prov_fk" class="form-control" name="id_prov_fk"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Kabupaten</label>
                                    <input type="text" class="form-control" id="nama_kab" name="nama_kab" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" onclick="Save()" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    function Save() {
        var kab = "&id_prov_fk=" + document.getElementById("id_prov_fk").value;
        console.log(kab)
        $.ajax({
            url: "/kab/addkab",
            data: $("#form2").serialize() + kab,
            type: 'POST',
            success: function (res) {
                swal({
                    title: 'Created !',
                    text: "Data has been Save",
                    icon: 'success',
                    buttons: true,
                }).then(function() {
                    window.location.href = "/admin/v1/master-data/kab";
                });
            },
            error: function (res) {
                swal({
                    type: 'warning',
                    title: 'Oops...',
                    text: 'Something went wrong!',
                })
            }
        })
    }
</script>