<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tambah Data Kabupaten</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md">
                        <div class="form-group">
                            <label for="id_kab">ID</label>
                            <input type="text" class="form-control" id="id_kab" name="id_kab">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="id_provkb">ID Provinsi</label>
                            <input type="text" class="form-control" id="id_provkb" name="id_provkb">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="nama_kab">Kabupaten</label>
                            <input type="text" class="form-control" id="nama_kab" name="nama_kab">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close
                </button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-update">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Data Provinsi</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md">
                        <div class="form-group">
                            <label for="id_kab">ID</label>
                            <input type="text" class="form-control" id="id_kab" name="id_kab" disabled>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="id_provkb">ID</label>
                            <input type="text" class="form-control" id="id_provkb" name="id_provkb" disabled>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="nama_kab">Provinsi</label>
                            <input type="text" class="form-control" id="nama_kab" name="nama_kab">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close
                </button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>