{{define "content"}}
<!-- Main content -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Teknik Pertanian</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Tenik Pertanian</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card">
                            <div class="card-header">
                                <button type="button" class="btn btn-default" data-toggle="modal"
                                        data-target="#modal-lg" style="float: right;">
                                    Tambah Data
                                </button>
                            </div>

                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="teknik_pertanian" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Pola Tanam</th>
                                        <th>Usaha Tani</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                            {{include "teknik-pertanian/modals"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $("#teknik_pertanian").DataTable({
            dom: 'Bfrtip',
            processing: true,
            serverSide: true,
            fixedColumns: true,
            responsive: true,
            lengthChange: false,
            autoWidth: false,
            fixedHeader: {
                "header": false,
                "footer": false
            },
            buttons: [
                "copy", "csv", "excel", "pdf", "print"
            ],
            ajax: '/inventaris/v1/master-data/tk-tani/table',
            "columns": [
                {data: 'id_t_pertanian', name: 'id_t_pertanian'},
                {data: 'pola_tanam', name: 'pola_tanam'},
                {data: 'usaha_tani', name: 'usaha_tani'},
                {data: 'action', searchable: false}
            ],
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    })

    function Delete(id) {
        data = new FormData();
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: '/inventaris/v1/master-data/tk-tani/delete/' + id,
                    type: 'DELETE',
                    data: data,
                    processData: false,
                    contentType: false,
                    success: function (res) {
                        Swal.fire(
                            'Deleted!',
                            'User has been deleted.',
                            'success'
                        );
                        $('#teknik_pertanian').DataTable().ajax.reload();
                    },
                    error: function (res) {
                        Swal.fire({
                            type: 'warning',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                        })
                    }
                })
            }
        });
    }
        function Edit(id_t_irigasi) {
            $.ajax({
                url: '/inventaris/v1/master-data/tk-tani/update/' + id_t_pertanian,
                type: "GET",
                beforeSend: function (res) {
                },
                success: function (res) {
                    ResVal = res.Value

                    $('#id_t_pertanian').val(id_t_pertanian)
                    $('#pola_tanam1').val(res.PolaTanam)
                    $('#usaha_tani1').val(res.UsahaTani)

                },
                error: function () {
                    Swal.fire({
                        type: 'warning',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    });

                }
            })
        }

        function submitEdit() {
            id = $('#id_t_pertanian').val()
            data = {
                pola_tanam: $('#pola_tanam1').val(),
                usaha_tani: $('#usaha_tani1').val(),
            }
            $.ajax({
                url: "/inventaris/v1/master-data/tk-tani/updates/" + id,
                data: data,
                type: "POST",
                beforeSend: function (res) {
                },
                success: function (res) {
                    Swal.fire(
                        'Edit!',
                        'Data has been edit.',
                        'success'
                    );
                    // location.reload()
                    alert("Success")
                },
                error: function () {
                    Swal.fire(
                        'Edit!',
                        'Data has been edit.',
                        'Failed'
                    );
                    alert("Error")
                }

            });


        }
</script>
{{end}}