{{define "content"}}
<!-- Main content -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Teknik Pertanian</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Tenik Pertanian</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card">
                            <div class="card-header">
                                <button type="button" class="btn btn-default" data-toggle="modal"
                                        data-target="#modal-lg" style="float: right;">
                                    Tambah Data
                                </button>
                            </div>

                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="teknik_irigasi" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Pola Tanam</th>
                                        <th>Usaha Tani</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                            {{include "teknik-pertanian/modals"}}
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
    </div>
</section>
<!-- /.content -->
<!-- /.content-wrapper -->

<script type="text/javascript">
    $(document).ready(function () {
        $("#provinsi").DataTable({
            dom: 'Bfrtip',
            processing: true,
            serverSide: true,
            fixedColumns: true,
            responsive: true,
            lengthChange: false,
            autoWidth: false,
            fixedHeader: {
                "header": false,
                "footer": false
            },
            buttons: [
                "copy", "csv", "excel", "pdf", "print"
            ],
            ajax: '/inventaris/v1/master-data/provinsi/table',
            "columns": [
                {data: 'id_prov', name: 'id_prov'},
                {data: 'nama_prov', name: 'nama_prov'},
                {data: 'action', searchable: false}
            ],
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

        function Delete(id) {
            data = new FormData();
            // data.append('csrf', $('meta[name="csrf-token"]').attr('content'));
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '' + id,
                        type: 'DELETE',
                        data: data,
                        processData: false,
                        contentType: false,
                        success: function (res) {
                            Swal.fire(
                                'Deleted!',
                                'User has been deleted.',
                                'success'
                            );
                            $('#example1').DataTable().ajax.reload();
                        },
                        error: function (res) {
                            Swal.fire({
                                type: 'warning',
                                title: 'Oops...',
                                text: 'Something went wrong!',
                            })
                        }
                    })
                }
            });
        }
    });
</script>
{{end}}