<!-- jQuery -->
<script src="/inventaris/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/inventaris/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/inventaris/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/inventaris/vendors/nprogress/nprogress.js"></script>
<!-- jQuery Smart Wizard -->
<script src="/inventaris/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
<!-- Custom Theme Scripts -->
<script src="/inventaris/build/js/custom.min.js"></script>