{{define "content"}}
<!-- Content Wrapper. Contains page content -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <!-- /.card-header -->
            <form id="form-validate" method="POST" action="/inventaris/v1/create">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_prov_fk">Provinsi</label>
                                <input type="text" class="form-control" id="id_prov_fk" name="id_prov_fk"
                                       placeholder="Enter provinsi" required>
                            </div>
                            <div class="form-group">
                                <label for="id_kab_fk">Kabupaten</label>
                                <input type="text" class="form-control" id="id_kab_fk" name="id_kab_fk"
                                       placeholder="Enter kabupaten" required>
                            </div>
                            <div class="form-group">
                                <label for="id_kec_fk">Kecamatan</label>
                                <input type="text" class="form-control" id="id_kec_fk" name="id_kec_fk"
                                       placeholder="Enter kecamatan" required>
                            </div>
                            <div class="form-group">
                                <label for="id_status_legal_fk">Status Legal</label>
                                <input type="text" class="form-control" id="id_status_legal_fk"
                                       name="id_status_legal_fk"
                                       placeholder="Enter status legal" required>
                            </div>
                            <div class="form-group">
                                <label for="id_kepengurusan_fk">Kepengurusan</label>
                                <input type="text" class="form-control" id="id_kepengurusan_fk"
                                       name="id_kepengurusan_fk"
                                       placeholder="Enter kepengurusan" required>
                            </div>
                            <div class="form-group">
                                <label for="id_teknik_irigasi_fk">Teknik Irigasi</label>
                                <input type="text" class="form-control" id="id_teknik_irigasi_fk"
                                       name="id_teknik_irigasi_fk"
                                       placeholder="Enter teknik irigasi" required>
                            </div>
                            <div class="form-group">
                                <label for="id_teknik_pertanian_fk">Kecamatan</label>
                                <input type="text" class="form-control" id="id_teknik_pertanian_fk"
                                       name="id_teknik_pertanian_fk"
                                       placeholder="Enter teknik pertanian" required>
                            </div>

                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="no_urut">Nomor Urut</label>
                                <input type="text" class="form-control" id="no_urut" name="no_urut"
                                       placeholder="Enter nomor urut" required>
                            </div>
                            <div class="form-group">
                                <label for="nama_p3a">Nama P3A</label>
                                <input type="text" class="form-control" id="nama_p3a" name="nama_p3a"
                                       placeholder="Enter nama p3a" required>
                            </div>
                            <div class="form-group">
                                <label for="jumlah_p3a">Jumlah P3A</label>
                                <input type="text" class="form-control" id="jumlah_p3a" name="jumlah_p3a"
                                       placeholder="Enter jumlah p3a" required>
                            </div>
                            <div class="form-group">
                                <label for="nama_daerah_irigasi">Nama Daerah P3A</label>
                                <input type="text" class="form-control" id="nama_daerah_irigasi" name="nama_daerah_irigasi"
                                       placeholder="Enter nama daerah irigasi" required>
                            </div>
                            <div class="form-group">
                                <label for="luas_wilayah">Luas Wilayah</label>
                                <input type="text" class="form-control" id="luas_wilayah" name="luas_wilayah"
                                       placeholder="Enter luas wilayah" required>
                            </div>
                            <div class="form-group">
                                <label for="luas_wilayah_p3a">Luas Wilayah P3A</label>
                                <input type="text" class="form-control" id="luas_wilayah_p3a" name="luas_wilayah_p3a"
                                       placeholder="Enter luas wilayah p3a" required>
                            </div>
                            <div class="form-group">
                                <label for="keterangan">Keterangan</label>
                                <input type="text" class="form-control" id="keterangan" name="keterangan"
                                       placeholder="Enter keterangan" required>
                            </div>

                            <!-- /.form-group -->
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
                <!-- /.row -->
            </form>
        </div>

        <!-- /.container-fluid -->
    </div>
</section>
<!-- /.content -->
<script type="javascript">

</script>
{{end}}