{{define "content"}}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Create Inventarisasi P3A</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="clearfix"></div>
                    </div>
                    <form class="form-horizontal form-label-left" id="form" method="POST"
                          action="/admin/v1/inventaris/store"
                          enctype="multipart/form-data">
                        <div class="x_content">
                            <!-- Smart Wizard -->
                            <div id="wizard" class="form_wizard wizard_horizontal">
                                <ul class="wizard_steps">
                                    <li>
                                        <a href="#step-1">
                                            <span class="step_no">1</span>
                                            <span class="step_descr">
                                              Step 1<br/>
                                              <small>Form Lokasi</small>
                                          </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#step-2">
                                            <span class="step_no">2</span>
                                            <span class="step_descr">
                                              Step 2<br/>
                                              <small>Form P3A</small>
                                          </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#step-3">
                                            <span class="step_no">3</span>
                                            <span class="step_descr">
                                              Step 3<br/>
                                              <small>Form Status Ilegal</small>
                                          </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#step-4">
                                            <span class="step_no">4</span>
                                            <span class="step_descr">
                                              Step 4<br/>
                                              <small>Form Kepengurusan</small>
                                          </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#step-5">
                                            <span class="step_no">5</span>
                                            <span class="step_descr">
                                              Step 5<br/>
                                              <small>Form Teknik Irigasi</small>
                                          </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#step-6">
                                            <span class="step_no">6</span>
                                            <span class="step_descr">
                                              Step 6<br/>
                                              <small>Form Teknik Pertanian</small>
                                          </span>
                                        </a>
                                    </li>
                                </ul>

                                <div id="step-1">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Provinsi<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select id="prov" class="form-control" name="nama_prov">
                                                <option></option>
                                            </select>
                                        </div>
                                        <input type="text" name="id_prov_fk" id="id_prov_fk" hidden>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Kabupaten<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select id="kab" class="form-control" name="nama_kab"
                                                    onchange="GetValue()">
                                                <option></option>
                                            </select>
                                        </div>
                                        <input type="text" name="id_kab_fk" id="id_kab_fk" hidden>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Kecamatan <span
                                                class="required">*</span></label>

                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select id="kec" class="form-control"
                                                    name="nama_kecamatan" onchange="GetVal()">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                    <input type="text" name="id_kec_fk" id="id_kec_fk" hidden>
                                </div>
                                <div id="step-2">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">No Urut <span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="no_urut"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nama P3A
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="nama_p3a"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nama Daerah Irigasi
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="nama_daerah_irigasi"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Luas Wilayah<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="luas_wilayah"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Jumlah P3A<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="jumlah_p3a"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Luas Layanan P3A<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="luas_layanan_p3a"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Keterangan<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="keterangan"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                </div>
                                <div id="step-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Tahun Pembentukan<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select type="number" maxlength="4"
                                                    name="tahun_pembentukan" id="tahun_pembentukan"
                                                    class="form-control col-md-7 col-xs-12">
                                                <option></option>
                                                <script>
                                                    var tahun = 1900;
                                                    for (i = 2021; i >= tahun; i--) {
                                                        document.write("<option>" + i + "</option>");
                                                    }
                                                </script>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Lampiran Tahun
                                            Pembentukan<span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="file" name="lampiran_tahun_pembentukan"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Diketahui Kepala Daerah<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="diket_kep_dc"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Lampiran Kepala
                                            Daerah<span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="file" name="lampiran_kep_dc"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nomor SK Bupati<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" class="form-control col-md-7 col-xs-12"
                                                   name="no_sk_bupati">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Lampiran SK Bupati<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="file" name="lampiran_sk_bupati"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Akte Notaris<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" class="form-control col-md-7 col-xs-12"
                                                   name="akte_notaris">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Lampiran Akte
                                            Notaris<span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="file" name="lampiran_akte_notaris"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nomor Pendaftaran<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" class="form-control col-md-7 col-xs-12"
                                                   name="no_pendaftaran">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Lampiran No Pendaftaran<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="file" name="lampiran_pendaftaran"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                </div>
                                <div id="step-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Ketua<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            L:
                                            <input type="radio" class="flat" value="L" name="ketua"/> P:
                                            <input type="radio" class="flat" value="P" name="ketua"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Wakil<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            L:
                                            <input type="radio" class="flat" value="L" name="wakil"/> P:
                                            <input type="radio" class="flat" value="P" name="wakil"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Sekretaris<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            L:
                                            <input type="radio" class="flat" value="L" name="sekretaris"/> P:
                                            <input type="radio" class="flat" value="P" name="sekretaris"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Bendahara<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            L:
                                            <input type="radio" class="flat" value="L" name="bendahara"/> P:
                                            <input type="radio" class="flat" value="P" name="bendahara"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Seksi Teknik<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            L:
                                            <input type="radio" class="flat" value="L" name="sek_teknik"/> P:
                                            <input type="radio" class="flat" value="P" name="sek_teknik"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Seksi Operasi<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            L:
                                            <input type="radio" class="flat" value="L" name="sek_op"/> P:
                                            <input type="radio" class="flat" value="P" name="sek_op"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Seksi Binis<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            L:
                                            <input type="radio" class="flat" value="L" name="sek_bisnis"/> P:
                                            <input type="radio" class="flat" value="P" name="sek_bisnis"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Jumlah Anggota<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="jumlah_anggota"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">No ADRT<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" name="no_ad_art">
                                                <option>Ada</option>
                                                <option>Tidak Ada</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Lampiran ADRT<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="file" name="lampiran_ad_art"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Sekretariat<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" name="sekretariat">
                                                <option>Ada</option>
                                                <option>Tidak Ada</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Lampiran
                                            Sekretariat<span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="file" name="lampiran_sekretariat"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Presentase Perempuan
                                            P3A<span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="persentase_perempuan_p3a"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Areal Tersier<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="areal_tersier"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Pengisian Buku<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" name="pengisian_buku">
                                                <option>Ada</option>
                                                <option>Tidak Ada</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Iuran<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" name="iuran">
                                                <option>Ada</option>
                                                <option>Tidak Ada</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-5">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Operasi<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" name="operasi">
                                                <option>Ada</option>
                                                <option>Tidak Ada</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Partisipatif<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" name="partisipatif">
                                                <option>Ada</option>
                                                <option>Tidak Ada</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Pola Tanam<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" name="pola_tanam">
                                                <option>Ada</option>
                                                <option>Tidak Ada</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Usaha Tani<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" name="usaha_tani">
                                                <option>Ada</option>
                                                <option>Tidak Ada</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#kec,#prov,#kab,#tahun_pembentukan').select2({
            placeholder: "Select a value",
        })
    });
    $.ajax({
        url: '/prov/32',
        type: "POST",
        success: function (res) {
            val = res.data
            x = val.id_prov
            y = val.nama_provinsi
            var myselect = $('<select>');
            myselect.append($('<option></option>').val(x).html(y));
            $('#prov').append(myselect.html());
            $('#id_prov_fk').val(x)
        }

    })
    $.ajax({
        url: '/kab/32',
        type: "POST",
        success: function (res) {
            val = res.data
            var myselect = $('<select>');
            $.each(val, function (key, index) {
                var y = index.id_kab
                var x = index.nama_kab
                myselect.append($('<option></option>').val(y).html(x));
            });
            $('#kab').append(myselect.html());
        }

    });

    function GetValue(id) {
        id = $('#kab').val();
        pip = [];
        console.log("pip 2 : ", pip)
        $.ajax({
            url: '/kec/' + id,
            type: 'POST',
            success: function (res) {
                val = res.data
                pip = [];
                console.log("pip 3 : ", pip)
                $.each(val, function (id, text) {
                    pip.push({
                        id: text.id_kec,
                        text: text.nama_kecamatan,
                    })
                    $('#kec').select2({
                        data: pip
                    })

                })
                $('#id_kab_fk').val(id)

            }
        })
    }

    function GetVal(id) {
        id = document.getElementById('kec').value;
        $('#id_kec_fk').val(id)
    }
</script>
{{end}}