{{define "content"}}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Detail P3A</h2>
                        <ul class="nav navbar-right panel_toolbox">
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>
                        <form id="form" method="POST" action="/admin/v1/inventaris/do-update/{{.data.IDP3A}}" enctype="multipart/form-data">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Provinsi<span class="">*</span></label>
                                    <select id="prov" class="form-control" name="prov" disabled>
                                        <option value="{{.data.NamaProv}}">{{.data.NamaProv}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Kabupaten<span class="">*</span></label>
                                    <select id="kab" class="form-control" name="kab" disabled>
                                        <option value="{{.data.NamaKab}}">{{.data.NamaKab}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Kecamatan</label><span class="">*</span>
                                    <select id="kec" class="form-control" name="kec" disabled>
                                        <option value="{{.data.NamaKec}}">{{.data.NamaKec}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>No Urut <span class="">*</span>
                                    </label>
                                    <input type="number" class="form-control" data-validate-length-range="5"
                                           name="no_urut" id="no_urut" value="{{.data.NoUrut}}" disabled>
                                </div>
                                <div class="form-group">
                                    <label>Nama P3A<span class="">*</span></label>
                                    <input type="text" class="form-control" data-validate-length-range="5"
                                           name="nama_p3a" id="nama_p3a" value="{{.data.NamaP3A}}" disabled>
                                </div>
                                <div class="form-group">
                                    <label>Nama Daerah Irigasi<span class="">*</span></label>
                                    <input type="text" class="form-control" name="nama_daerah_irigasi"
                                           id="nama_daerah_irigasi" value="{{.data.DaerahIrigasi}}" disabled >
                                </div>
                                <div class="form-group">
                                    <label>Luas Wilayah<span class="">*</span></label>
                                    <input type="number" class="form-control" name="luas_wilayah"
                                           id="luas_wilayah" value="{{.data.LuasWilayah}}" disabled>
                                </div>
                                <div class="form-group">
                                    <label>Jumlah P3A<span class="">*</span></label>
                                    <input type="number" class="form-control" name="jumlah_p3a"
                                           id="jumlah_p3a" value="{{.data.JumlahP3A}}" disabled >
                                </div>
                                <div class="form-group">
                                    <label>Luas Layanan P3A<span class="">*</span></label>
                                    <input type="number" class="form-control" name="luas_layanan_p3a"
                                           id="luas_layanan_p3a" value="{{.data.LuasLayananP3A}}" disabled >
                                </div>
                                <div class="form-group">
                                    <label>Keterangan<span class="">*</span></label>
                                    <input type="text" class="form-control" name="keterangan"
                                           id="keterangan" value="{{.data.Keterangan}}" disabled>
                                </div>
                                <div class="form-group">
                                    <label>Tahun Pembentukan<span class="">*</span></label>
                                    <input type="number" class="form-control" maxlength="4" name="tahun_pembentukan"
                                           id="tahun_pembentukan" value="{{.data.TahunPembentukan}}" disabled >
                                </div>
                                <div class="form-group">
                                    <label>Lampiran Tahun Pembentukan<span class="">*</span></label>
                                    <div class="avatar-preview">
                                        <div id="imagePreview1"
                                             style="background-image: url(/static/image/{{.data.LamTahunPembentukan}});">
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="form-group">
                                    <label>Diket Kepala Daerah<span class="">*</span></label>
                                    <div class="avatar-preview">
                                        <div id="imagePreview2"
                                             style="background-image: url(/static/image/{{.data.LamKplDesa}});">
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="form-group">
                                    <label>Nomor SK Bupati<span class="">*</span></label>
                                    <select class="form-control" name="no_sk_bupati" id="no_sk_bupati" disabled>
                                        <option value="{{.data.SKBupati}}">{{.data.SKBupati}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Lampiran SK Bupati<span class="">*</span></label>
                                    <div class="avatar-preview">
                                        <div id="imagePreview3"
                                             style="background-image: url(/static/image/{{.data.LamSKBupati}});">
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="form-group">
                                    <label>Akte Notaris<span class="">*</span></label>
                                    <select class="form-control" name="akte_notaris" id="akte_notaris" disabled >
                                        <option value="{{.data.AkteNotaris}}"> {{.data.AkteNotaris}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Lampiran Akte Notaris<span class="">*</span></label>
                                    <div class="avatar-preview">
                                        <div id="imagePreview4"
                                             style="background-image: url(/static/image/{{.data.LamAkteNotaris}});">
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nomor Pendaftaran<span class="">*</span></label>
                                    <select class="form-control" name="no_pendaftaran" id="no_pendaftaran" disabled >
                                        <option value="{{.data.NoPendaftaran}}">{{.data.NoPendaftaran}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Lampiran No Pendaftaran<span class="">*</span></label>
                                    <div class="avatar-preview">
                                        <div id="imagePreview5"
                                             style="background-image: url(/static/image/{{.data.LamPendaftaran}});">
                                        </div>
                                    </div>
                                    <br>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <!--                                        <input type="text" name="id_kepengurusan" id="id_kepengurusan" value="{{.data.IDPengurusan}}" hidden>-->
                                        <div class="form-group">
                                            <label>Ketua<span class="">*</span></label>
                                            <br>
                                            {{if eq .data.Ketua "L"}}
                                            L:
                                            <input type="radio" class="flat" value="L" name="ketua" id="ketua"
                                                   checked disabled/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="ketua" id="ketua"
                                            disabled/>
                                            {{else}}
                                            L:
                                            <input type="radio" class="flat" value="L" name="ketua" id="ketua"
                                            disabled/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="ketua" id="ketua"
                                                   checked disabled/>
                                            {{end}}
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label>Wakil<span class="">*</span></label>
                                            <br>
                                            {{if eq .data.Wakil "L"}}
                                            L:
                                            <input type="radio" class="flat" value="L" name="wakil" id="wakil"
                                                   checked disabled/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="wakil" id="wakil"
                                            disabled/>
                                            {{else}}
                                            L:
                                            <input type="radio" class="flat" value="L" name="wakil" id="wakil"
                                            disabled/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="wakil" id="wakil"
                                                   checked disabled/>
                                            {{end}}
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label>Sekretaris<span class="">*</span></label>
                                            <br>
                                            {{if eq .data.Sekretaris "L"}}
                                            L:
                                            <input type="radio" class="flat" value="L" name="sekretaris" id="sekretaris"
                                                   checked disabled/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="sekretaris" id="sekretaris"
                                            disabled/>
                                            {{else}}
                                            <input type="radio" class="flat" value="L" name="sekretaris" id="sekretaris"
                                            disabled/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="sekretaris" id="sekretaris"
                                                   checked disabled/>
                                            {{end}}
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label>Bendahara<span class="">*</span></label>
                                            <br>
                                            {{if eq .data.Bendahara "L"}}
                                            L:
                                            <input type="radio" class="flat" value="L" name="bendahara" id="bendahara"
                                                   checked disabled/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="bendahara" id="bendahara"
                                            disabled/>
                                            {{else}}
                                            L:
                                            <input type="radio" class="flat" value="L" name="bendahara" id="bendahara"
                                            disabled/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="bendahara" id="bendahara"
                                                   checked disabled/>
                                            {{end}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Seksi Teknik<span class="">*</span></label>
                                            <br>
                                            {{if eq .data.SekTeknik "L"}}
                                            L:
                                            <input type="radio" class="flat" value="L" name="sek_teknik" id="sek_teknik"
                                                   checked disabled/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="sek_teknik" id="sek_teknik"
                                            disabled/>
                                            {{else}}
                                            L:
                                            <input type="radio" class="flat" value="L" name="sek_teknik" id="sek_teknik"
                                            disabled/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="sek_teknik" id="sek_teknik"
                                                   checked disabled/>
                                            {{end}}
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label>Seksi Operasi<span class="">*</span></label>
                                            <br>
                                            {{if eq .data.SekOP "L"}}
                                            L:
                                            <input type="radio" class="flat" value="L" name="sek_op" id="sek_op"
                                                   checked disabled/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="sek_op" id="sek_op"
                                            disabled/>
                                            {{else}}
                                            L:
                                            <input type="radio" class="flat" value="L" name="sek_op" id="sek_op"
                                            disabled/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="sek_op" id="sek_op"
                                                   checked disabled/>
                                            {{end}}
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label>Seksi Binis<span class="">*</span></label>
                                            <br>
                                            {{if eq .data.SekBisnis "L"}}
                                            L:
                                            <input type="radio" class="flat" value="L" name="sek_bisnis" id="sek_bisnis"
                                                   checked disabled/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="sek_bisnis" id="sek_bisnis"
                                            disabled/>
                                            {{else}}
                                            L:
                                            <input type="radio" class="flat" value="L" name="sek_bisnis" id="sek_bisnis"
                                            disabled/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="sek_bisnis" id="sek_bisnis"
                                                   checked disabled/>
                                            {{end}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Jumlah Anggota<span class="">*</span></label>
                                    <input type="number" class="form-control" name="jumlah_anggota" id="jumlah_anggota"
                                           value="{{.data.JumlahAnggota}}" disabled >
                                </div>
                                <div class="form-group">
                                    <label>No ADRT<span class="">*</span></label>
                                    <input type="number" class="form-control" name="no_ad_art" id="no_ad_art" value="{{.data.NoADRT}}" disabled >
                                </div>
                                <div class="form-group">
                                    <label> Lampiran ADRT <span class="">*</span></label>
                                    <div class="avatar-preview">
                                        <div id="imagePreview6"
                                             style="background-image: url(/static/image/{{.data.LampiranADRT}});">
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="form-group">
                                    <label>Sekretariat<span class="">*</span></label>
                                    <select class="form-control" name="sekretariat" id="sekretariat" disabled >
                                        <option value="{{.data.Sekretariat}}">{{.data.Sekretariat}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Lampiran Sekretariat<span class="">*</span></label>
                                    <div class="avatar-preview">
                                        <div id="imagePreview7"
                                             style="background-image: url(/static/image/{{.data.LampiranSekretariat}});">
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="form-group">
                                    <label>Presentase Perempuan P3A<span class="">*</span></label>
                                    <input type="number" class="form-control" name="persentase_perempuan_p3a"
                                           id="persentase_perempuan_p3a" value="{{.data.PresentasiPerempuanP3A}}" disabled>
                                </div>
                                <div class="form-group">
                                    <label>Areal Tersier<span class="">*</span></label>
                                    <input type="number" class="form-control" name="areal_tersier"
                                           id="areal_tersier" value="{{.data.ArealTersier}}" disabled >
                                </div>
                                <div class="form-group">
                                    <label>Pengisian Buku<span class="">*</span></label>
                                    <input type="text" class="form-control" name="pengisian_buku" id="pengisian_buku"
                                           value="{{.data.PengisianBuku}}" disabled >
                                </div>
                                <div class="form-group">
                                    <label>Iuran<span class="">*</span></label>
                                    <input type="text" class="form-control" name="iuran" id="iuran" value="{{.data.Iuran}}" disabled >
                                </div>
                                <div class="form-group">
                                    <label>Operasi<span class="">*</span></label>
                                    <input type="text" class="form-control" name="operasi" id="operasi" value="{{.data.Operasi}}" disabled >
                                </div>
                                <div class="form-group">
                                    <label>Partisipatif<span class="">*</span></label>
                                    <input type="text" class="form-control" name="partisipatif" id="partisipatif" value="{{.data.Partisipatif}}"
                                    disabled>
                                </div>
                                <div class="form-group">
                                    <label>Pola Tanam<span class="">*</span></label>
                                    <input type="text" class="form-control" name="pola_tanam" id="pola_tanam" value="{{.data.PolaTanam}}" disabled >
                                </div>
                                <div class="form-group">
                                    <label>Usaha Tani<span class="">*</span></label>
                                    <input type="text" class="form-control" name="usaha_tani" id="usaha_tani" value="{{.data.UsahaTani}}" disabled >
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <a href="/admin/v1/inventaris" type="button" class="btn btn-success">Back</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">
    function readURL1(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview1').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview1').hide();
                $('#imagePreview1').fadeIn(650);


            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function readURL2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview2').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview2').hide();
                $('#imagePreview2').fadeIn(650);


            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function readURL3(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview3').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview3').hide();
                $('#imagePreview3').fadeIn(650);


            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function readURL4(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview4').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview4').hide();
                $('#imagePreview4').fadeIn(650);


            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function readURL5(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview5').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview5').hide();
                $('#imagePreview5').fadeIn(650);


            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function readURL6(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview6').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview6').hide();
                $('#imagePreview6').fadeIn(650);


            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function readURL7(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview7').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview7').hide();
                $('#imagePreview7').fadeIn(650);


            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#lampiran_tahun_pembentukan").change(function () {
        readURL1(this);
    });
    $("#diket_kep_dc").change(function () {
        readURL2(this);
    });
    $("#lampiran_sk_bupati").change(function () {
        readURL3(this);
    });
    $("#lampiran_akte_notaris").change(function () {
        readURL4(this);
    });
    $("#lampiran_pendaftaran").change(function () {
        readURL5(this);
    });
    $("#lampiran_ad_art").change(function () {
        readURL6(this);
    });
    $("#lampiran_sekretariat").change(function () {
        readURL7(this);
    });
</script>
{{end}}