{{define "content"}}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Inventarisasi P3A</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">


                        <!-- Smart Wizard -->
                        <div id="wizard" class="form_wizard wizard_horizontal">
                            <ul class="wizard_steps">
                                <li>
                                    <a href="#step-1">
                                        <span class="step_no">1</span>
                                        <span class="step_descr">
                                              Step 1<br/>
                                              <small>Step 1 description</small>
                                          </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-2">
                                        <span class="step_no">2</span>
                                        <span class="step_descr">
                                              Step 2<br/>
                                              <small>Step 2 description</small>
                                          </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-3">
                                        <span class="step_no">3</span>
                                        <span class="step_descr">
                                              Step 3<br/>
                                              <small>Step 3 description</small>
                                          </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-4">
                                        <span class="step_no">4</span>
                                        <span class="step_descr">
                                              Step 4<br/>
                                              <small>Step 4 description</small>
                                          </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-5">
                                        <span class="step_no">4</span>
                                        <span class="step_descr">
                                              Step 5<br/>
                                              <small>Step 5 description</small>
                                          </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-6">
                                        <span class="step_no">4</span>
                                        <span class="step_descr">
                                              Step 6<br/>
                                              <small>Step 6 description</small>
                                          </span>
                                    </a>
                                </li>
                            </ul>
                            <div id="step-1">
                                <form class="form-horizontal form-label-left" id="form">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Provinsi<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select id="prov" class="form-control" nama="nama_prov" required="required">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Kabupaten<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select id="kab" class="form-control" nama="nama_kab" required="required" onchange="GetValue()">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Kecamatan</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select id="kec" class="form-control" required="required" nama="nama_kecamatan">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="step-2">
                                <form class="form-horizontal form-label-left" id="form">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">No Urut <span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="number" data-validate-length-range="5" required="required" nama="no_urut"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nama P3A
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" data-validate-length-range="5" required="required" nama="nama_p3a"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nama Daerah Irigasi
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" required="required" nama="nama_daerah_irigasi"
                                                   class="form-control col-md-7 col-xs-12" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Luas Wilayah<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="number" required="required" nama="luas_wilayah"
                                                   class="form-control col-md-7 col-xs-12" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Jumlah P3A<span>
                                        class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="number" required="required" nama="jumlah_p3a"
                                                   class="form-control col-md-7 col-xs-12" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Luas Layanan P3A<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="number" required="required" nama="luas_layanan_p3a"
                                                   class="form-control col-md-7 col-xs-12" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Keterangan<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" required="required" nama="keterangan"
                                                   class="form-control col-md-7 col-xs-12" required>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="step-3">
                                <form class="form-horizontal form-label-left" id="form">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Tahun Pembentukan<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="number" maxlength="4" required="required"
                                                   nama="tahun_pembentukan"
                                                   class="form-control col-md-7 col-xs-12" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Lampiran Tahun
                                            Pembentukan<span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="file" required="required" nama="lampiran_tahun_pembentukan"
                                                   class="form-control col-md-7 col-xs-12" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Diket Kepala
                                            Daerah<span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="file" required="required" nama="diket_kep_dc"
                                                   class="form-control col-md-7 col-xs-12" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nomor SK Bupati<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" nama="no_sk_bupati">
                                                <option>Ada</option>
                                                <option>Tidak Ada</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Lampiran SK Bupati<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="file" required="required" nama="lampiran_sk_bupati"
                                                   class="form-control col-md-7 col-xs-12" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Akte Notaris<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" nama="akte_notaris">
                                                <option>Ada</option>
                                                <option>Tidak Ada</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Lampiran Akte
                                            Notaris<span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="file" required="required" nama="lampiran_akte_notaris"
                                                   class="form-control col-md-7 col-xs-12" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nomor Pendaftaran<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" nama="no_pendaftaran">
                                                <option>Ada</option>
                                                <option>Tidak Ada</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Lampiran No Pendaftaran<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="file" required="required" nama="lampiran_pendaftaran"
                                                   class="form-control col-md-7 col-xs-12" required>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="step-4">
                                <form class="form-horizontal form-label-left" id="form">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Ketua<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            M:
                                            <input type="radio" class="flat" name="gender1" value="M" nama="ketua"
                                                   required/> F:
                                            <input type="radio" class="flat" name="gender1" value="F" nama="ketua"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Wakil<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            M:
                                            <input type="radio" class="flat" name="gender2" value="M" nama="wakil"
                                                   required/> F:
                                            <input type="radio" class="flat" name="gender2" value="F" nama="wakil"
                                                   required/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Sekretaris<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            M:
                                            <input type="radio" class="flat" name="gender3" value="M" nama="sekretarias"
                                                   required/> F:
                                            <input type="radio" class="flat" name="gender3" value="F" nama="sekretaris"
                                                   required/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Bendahara<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            M:
                                            <input type="radio" class="flat" name="gender4" value="M" nama="bendahara"
                                                   required/> F:
                                            <input type="radio" class="flat" name="gender4" value="F" nama="bendahara"
                                                   required/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Seksi Teknik<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            M:
                                            <input type="radio" class="flat" name="gender5" value="M" nama="sek_teknik"
                                                   required/> F:
                                            <input type="radio" class="flat" name="gender5" value="F" nama="sek_teknik"
                                                   required/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Seksi Operasi<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            M:
                                            <input type="radio" class="flat" name="gender6" value="M" nama="sek_op"
                                                   required/> F:
                                            <input type="radio" class="flat" name="gender6" value="F" nama="sek_op"
                                                   required/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Seksi Binis<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            M:
                                            <input type="radio" class="flat" name="gender7" value="M" nama="sek_bisnis"
                                                   required/> F:
                                            <input type="radio" class="flat" name="gender7" value="F" nama="sek_bisnis"
                                                   required/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Jumlah Anggota<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="number" required="required" nama="jumlah_anggota"
                                                   class="form-control col-md-7 col-xs-12" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">No ADRT<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="number" required="required" nama="no_ad_rt"
                                                   class="form-control col-md-7 col-xs-12" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Lampiran ADRT<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="file" required="required" nama="lampiran_ad_rt"
                                                   class="form-control col-md-7 col-xs-12" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Sekretariat<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" nama="sekretariat">
                                                <option>Ada</option>
                                                <option>Tidak Ada</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Lampiran
                                            Sekretariat<span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="file" required="required" nama="lamapiran_sekretariat"
                                                   class="form-control col-md-7 col-xs-12" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Presentase Perempuan
                                            P3A<span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="number" required="required" nama="presentase_perempuan_p3a"
                                                   class="form-control col-md-7 col-xs-12" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Areal Tersier<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="number" required="required" nama="areal_tersier"
                                                   class="form-control col-md-7 col-xs-12" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Pengisian Buku<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" required="required" nama="pengisian_buku"
                                                   class="form-control col-md-7 col-xs-12" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Iuran<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" required="required" nama="iuran"
                                                   class="form-control col-md-7 col-xs-12" required>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div id="step-5">
                                <form class="form-horizontal form-label-left" id="form">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Operasi<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" required="required" nama="operasi"
                                                   class="form-control col-md-7 col-xs-12" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Partisipatif<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" required="required" nama="partisipatif"
                                                   class="form-control col-md-7 col-xs-12" required>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="step-6">
                                <form class="form-horizontal form-label-left">

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Pola Tanam<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" required="required" nama="pola_tanam"
                                                   class="form-control col-md-7 col-xs-12" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Usaha Tani<span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" required="required" nama="usaha_tani"
                                                   class="form-control col-md-7 col-xs-12" required>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End SmartWizard Content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#kec').select2({
            placeholder: "Select a value",
        })
        $('#prov').select2({
            placeholder: "Select a value",
        });
        $('#kab').select2({
            placeholder: "Select a value",
        });
    });
    $.ajax({
        url: '/prov/32',
        type: "POST",
        success: function (res) {
            val = res.data
            x = val.id_prov
            y = val.nama_provinsi
            var myselect = $('<select>');
            myselect.append($('<option></option>').val(x).html(y));
            $('#prov').append(myselect.html());
        }

    })
    $.ajax({
        url: '/kab/32',
        type: "POST",
        success: function (res) {
            val = res.data
            var myselect = $('<select>');
            $.each(val, function (key, index) {
                var y = index.id_kab
                var x = index.nama_kab
                myselect.append($('<option></option>').val(y).html(x));
            });
            $('#kab').append(myselect.html());
        }

    });

    function GetValue(id) {
        id = $('#kab').val();
        pip = [];
        console.log("pip 2 : ", pip)
        $.ajax({
            url: '/kec/' + id,
            type: 'POST',
            success: function (res) {
                val = res.data
                pip = [];
                console.log("pip 3 : ", pip)
                $.each(val, function (id, text) {
                    pip.push({
                        id: text.id_kec,
                        text: text.nama_kecamatan,
                    })
                    $('#kec').select2({
                        data: pip
                    })
                })

            }
        })
    }
    function Finish(){
        data :{

        }
    }
</script>
{{end}}