{{define "content"}}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Update P3A</h2>
                        <ul class="nav navbar-right panel_toolbox">
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>
                        <form id="form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Provinsi<span class="required">*</span></label>
                                    <select id="id_prov_fk" class="form-control" name="id_prov_fk" required>
                                        <option value="{{.data.NamaProv}}">{{.data.NamaProv}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Kabupaten<span class="required">*</span></label>
                                    <select id="id_kab_fk" class="form-control" name="id_kab_fk" onchange="GetValue()"
                                            required>
                                        <option value="{{.data.NamaKab}}">{{.data.NamaKab}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Kecamatan</label><span class="required">*</span>
                                    <select id="id_kec_fk" class="form-control"
                                            name="id_kec_fk" required>
                                        <option value="{{.data.NamaKec}}">{{.data.NamaKec}}</option>
                                    </select>
                                </div>
                                <input type="text" name="id_p3a" id="id_p3a" value="{{.data.IDP3A}}" hidden>
                                <div class="form-group">
                                    <label>No Urut <span class="required">*</span>
                                    </label>
                                    <input type="number" class="form-control" data-validate-length-range="5"
                                           name="no_urut" id="no_urut" value="{{.data.NoUrut}}" required>
                                </div>
                                <div class="form-group">
                                    <label>Nama P3A<span class="required">*</span></label>
                                    <input type="text" class="form-control" data-validate-length-range="5"
                                           name="nama_p3a" id="nama_p3a" value="{{.data.NamaP3A}}" required>
                                </div>
                                <div class="form-group">
                                    <label>Nama Daerah Irigasi<span class="required">*</span></label>
                                    <input type="text" class="form-control" name="nama_daerah_irigasi"
                                           id="nama_daerah_irigasi" value="{{.data.DaerahIrigasi}}" required>
                                </div>
                                <div class="form-group">
                                    <label>Luas Wilayah<span class="required">*</span></label>
                                    <input type="number" class="form-control" name="luas_wilayah"
                                           id="luas_wilayah" value="{{.data.LuasWilayah}}" required>
                                </div>
                                <div class="form-group">
                                    <label>Jumlah P3A<span class="required">*</span></label>
                                    <input type="number" class="form-control" name="jumlah_p3a"
                                           id="jumlah_p3a" value="{{.data.JumlahP3A}}" required>
                                </div>
                                <div class="form-group">
                                    <label>Luas Layanan P3A<span class="required">*</span></label>
                                    <input type="number" class="form-control" name="luas_layanan_p3a"
                                           id="luas_layanan_p3a" value="{{.data.LuasLayananP3A}}" required>
                                </div>
                                <div class="form-group">
                                    <label>Keterangan<span class="required">*</span></label>
                                    <input type="text" class="form-control" name="keterangan"
                                           id="keterangan" value="{{.data.Keterangan}}" required>
                                </div>
                                <input type="text" name="id_status_legal" id="id_status_legal" value="{{.data.IDStatus}}" hidden>
                                <div class="form-group">
                                    <label>Tahun Pembentukan<span class="required">*</span></label>
                                    <input type="number" class="form-control" maxlength="4" name="tahun_pembentukan"
                                           id="tahun_pembentukan" value="{{.data.TahunPembentukan}}" required>
                                </div>
                                <div class="form-group">
                                    <label>Lampiran Tahun Pembentukan<span class="required">*</span></label>
                                    <div class="avatar-preview">
                                        <div id="imagePreview1"
                                             style="background-image: url(/static/image/{{.data.LamTahunPembentukan}});">
                                        </div>
                                    </div>
                                    <br>
                                    <div class=" avatar-upload avatar-edit">
                                        <input type="file" id="lampiran_tahun_pembentukan"
                                               name="lampiran_tahun_pembentukan" accept=".png, .jpg, .jpeg"
                                               required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Diket Kepala Daerah<span class="required">*</span></label>
                                    <div class="avatar-preview">
                                        <div id="imagePreview2"
                                             style="background-image: url(/static/image/{{.data.LamKplDesa}});">
                                        </div>
                                    </div>
                                    <br>
                                    <div class=" avatar-upload avatar-edit">
                                        <input type="file" id="diket_kep_dc" name="diket_kep_dc"
                                               accept=".png, .jpg, .jpeg"
                                               required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Nomor SK Bupati<span class="required">*</span></label>
                                    <select class="form-control" name="no_sk_bupati" id="no_sk_bupati" required>
                                        <option value="{{.data.SKBupati}}">{{.data.SKBupati}}</option>
                                        <option>Ada</option>
                                        <option>Tidak Ada</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Lampiran SK Bupati<span class="required">*</span></label>
                                    <div class="avatar-preview">
                                        <div id="imagePreview3"
                                             style="background-image: url(/static/image/{{.data.LamSKBupati}});">
                                        </div>
                                    </div>
                                    <br>
                                    <div class=" avatar-upload avatar-edit">
                                        <input type="file" id="lampiran_sk_bupati" name="lampiran_sk_bupati"
                                               accept=".png, .jpg, .jpeg"
                                               required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Akte Notaris<span class="required">*</span></label>
                                    <select class="form-control" name="akte_notaris" id="akte_notaris" required>
                                        <option value="{{.data.AkteNotaris}}"> {{.data.AkteNotaris}}</option>
                                        <option>Ada</option>
                                        <option>Tidak Ada</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Lampiran Akte Notaris<span class="required">*</span></label>
                                    <div class="avatar-preview">
                                        <div id="imagePreview4"
                                             style="background-image: url(/static/image/{{.data.LamAkteNotaris}});">
                                        </div>
                                    </div>
                                    <br>
                                    <div class=" avatar-upload avatar-edit">
                                        <input type="file" id="lampiran_akte_notaris" name="lampiran_akte_notaris"
                                               accept=".png, .jpg, .jpeg"
                                               required/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nomor Pendaftaran<span class="required">*</span></label>
                                    <select class="form-control" name="no_pendaftaran" id="no_pendaftaran" required>
                                        <option value="{{.data.NoPendaftaran}}">{{.data.NoPendaftaran}}</option>
                                        <option>Ada</option>
                                        <option>Tidak Ada</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Lampiran No Pendaftaran<span class="required">*</span></label>
                                    <div class="avatar-preview">
                                        <div id="imagePreview5"
                                             style="background-image: url(/static/image/{{.data.LamPendaftaran}});">
                                        </div>
                                    </div>
                                    <br>
                                    <div class=" avatar-upload avatar-edit">
                                        <input type="file" id="lampiran_pendaftaran" name="lampiran_pendaftaran"
                                               accept=".png, .jpg, .jpeg"
                                               required/>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" name="id_kepengurusan" id="id_kepengurusan" value="{{.data.IDPengurusan}}" hidden>
                                        <div class="form-group">
                                            <label>Ketua<span class="required">*</span></label>
                                            <br>
                                            {{if eq .data.Ketua "L"}}
                                            L:
                                            <input type="radio" class="flat" value="L" name="ketua" id="ketua"
                                                   required checked/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="ketua" id="ketua"
                                                   required/>
                                            {{else}}
                                            L:
                                            <input type="radio" class="flat" value="L" name="ketua" id="ketua"
                                                   required />
                                            P:
                                            <input type="radio" class="flat" value="P" name="ketua" id="ketua"
                                                   required checked/>
                                            {{end}}
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label>Wakil<span class="required">*</span></label>
                                            <br>
                                            {{if eq .data.Wakil "L"}}
                                            L:
                                            <input type="radio" class="flat" value="L" name="wakil" id="wakil"
                                                   required checked/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="wakil" id="wakil"
                                                   required/>
                                            {{else}}
                                            L:
                                            <input type="radio" class="flat" value="L" name="wakil" id="wakil"
                                                   required/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="wakil" id="wakil"
                                                   required checked/>
                                            {{end}}
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label>Sekretaris<span class="required">*</span></label>
                                            <br>
                                            {{if eq .data.Sekretaris "L"}}
                                            L:
                                            <input type="radio" class="flat" value="L" name="sekretaris" id="sekretaris"
                                                   required checked/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="sekretaris" id="sekretaris"
                                                   required/>
                                            {{else}}
                                            <input type="radio" class="flat" value="L" name="sekretaris" id="sekretaris"
                                                   required/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="sekretaris" id="sekretaris"
                                                   required checked/>
                                            {{end}}
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label>Bendahara<span class="required">*</span></label>
                                            <br>
                                            {{if eq .data.Bendahara "L"}}
                                            L:
                                            <input type="radio" class="flat" value="L" name="bendahara" id="bendahara"
                                                   required checked/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="bendahara" id="bendahara"
                                                   required/>
                                            {{else}}
                                            L:
                                            <input type="radio" class="flat" value="L" name="bendahara" id="bendahara"
                                                   required/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="bendahara" id="bendahara"
                                                   required checked/>
                                            {{end}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Seksi Teknik<span class="required">*</span></label>
                                            <br>
                                            {{if eq .data.SekTeknik "L"}}
                                            L:
                                            <input type="radio" class="flat" value="L" name="sek_teknik" id="sek_teknik"
                                                   required checked/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="sek_teknik" id="sek_teknik"
                                                   required/>
                                            {{else}}
                                            L:
                                            <input type="radio" class="flat" value="L" name="sek_teknik" id="sek_teknik"
                                                   required/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="sek_teknik" id="sek_teknik"
                                                   required checked/>
                                            {{end}}
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label>Seksi Operasi<span class="required">*</span></label>
                                            <br>
                                            {{if eq .data.SekOP "L"}}
                                            L:
                                            <input type="radio" class="flat" value="L" name="sek_op" id="sek_op"
                                                   required checked/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="sek_op" id="sek_op"
                                                   required/>
                                            {{else}}
                                            L:
                                            <input type="radio" class="flat" value="L" name="sek_op" id="sek_op"
                                                   required/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="sek_op" id="sek_op"
                                                   required checked/>
                                            {{end}}
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label>Seksi Binis<span class="required">*</span></label>
                                            <br>
                                            {{if eq .data.SekBisnis "L"}}
                                            L:
                                            <input type="radio" class="flat" value="L" name="sek_bisnis" id="sek_bisnis"
                                                   required checked/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="sek_bisnis" id="sek_bisnis"
                                                   required/>
                                            {{else}}
                                            L:
                                            <input type="radio" class="flat" value="L" name="sek_bisnis" id="sek_bisnis"
                                                   required/>
                                            P:
                                            <input type="radio" class="flat" value="P" name="sek_bisnis" id="sek_bisnis"
                                                   required checked/>
                                            {{end}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Jumlah Anggota<span class="required">*</span></label>
                                    <input type="number" class="form-control" name="jumlah_anggota" id="jumlah_anggota"
                                           value="{{.data.JumlahAnggota}}" required>
                                </div>
                                <div class="form-group">
                                    <label>No ADRT<span class="required">*</span></label>
                                    <input type="number" class="form-control" name="no_ad_art" id="no_ad_art" value="{{.data.NoADRT}}" required>
                                </div>
                                <div class="form-group">
                                    <label> Lampiran ADRT <span class="required">*</span></label>
                                    <div class="avatar-preview">
                                        <div id="imagePreview6"
                                             style="background-image: url(/static/image/{{.data.LampiranADRT}});">
                                        </div>
                                    </div>
                                    <br>
                                    <div class=" avatar-upload avatar-edit">
                                        <input type="file" id="lampiran_ad_art" name="lampiran_ad_art"
                                               accept=".png, .jpg, .jpeg"
                                               required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Sekretariat<span class="required">*</span></label>
                                    <select class="form-control" name="sekretariat" id="sekretariat" required>
                                        <option value="{{.data.Sekretariat}}">{{.data.Sekretariat}}</option>
                                        <option>Ada</option>
                                        <option>Tidak Ada</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Lampiran Sekretariat<span class="required">*</span></label>
                                    <div class="avatar-preview">
                                        <div id="imagePreview7"
                                             style="background-image: url(/static/image/{{.data.LampiranSekretariat}});">
                                        </div>
                                    </div>
                                    <br>
                                    <div class=" avatar-upload avatar-edit">
                                        <input type="file" id="lampiran_sekretariat" name="lampiran_sekretariat"
                                               accept=".png, .jpg, .jpeg"
                                               required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Presentase Perempuan P3A<span class="required">*</span></label>
                                    <input type="number" class="form-control" name="persentase_perempuan_p3a"
                                           id="persentase_perempuan_p3a" value="{{.data.PresentasiPerempuanP3A}}" required>
                                </div>
                                <div class="form-group">
                                    <label>Areal Tersier<span class="required">*</span></label>
                                    <input type="number" class="form-control" name="areal_tersier"
                                           id="areal_tersier" value="{{.data.ArealTersier}}" required>
                                </div>
                                <div class="form-group">
                                    <label>Pengisian Buku<span class="required">*</span></label>
                                    <input type="text" class="form-control" name="pengisian_buku" id="pengisian_buku"
                                           value="{{.data.PengisianBuku}}" required>
                                </div>
                                <div class="form-group">
                                    <label>Iuran<span class="required">*</span></label>
                                    <input type="text" class="form-control" name="iuran" id="iuran" value="{{.data.Iuran}}" required>
                                </div>
                                <input type="text"name="id_t_irigasi" id="id_t_irigasi" value="{{.data.IDIrig}}" hidden>
                                <div class="form-group">
                                    <label>Operasi<span class="required">*</span></label>
                                    <input type="text" class="form-control" name="operasi" id="operasi" value="{{.data.Operasi}}" required>
                                </div>
                                <div class="form-group">
                                    <label>Partisipatif<span class="required">*</span></label>
                                    <input type="text" class="form-control" name="partisipatif" id="partisipatif" value="{{.data.Partisipatif}}"
                                           required>
                                </div>
                                <input type="text" name="id_t_pertanian" id="id_t_pertanian" value="{{.data.IDTani}}" hidden>
                                <div class="form-group">
                                    <label>Pola Tanam<span class="required">*</span></label>
                                    <input type="text" class="form-control" name="pola_tanam" id="pola_tanam" value="{{.data.PolaTanam}}" required>
                                </div>
                                <div class="form-group">
                                    <label>Usaha Tani<span class="required">*</span></label>
                                    <input type="text" class="form-control" name="usaha_tani" id="usaha_tani" value="{{.data.UsahaTani}}" required>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-12 text-right">
                                    <button class="btn btn-primary" type="button">Cancel</button>
                                    <button class="btn btn-primary" type="reset">Reset</button>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $.ajax({
        url: '/prov/32',
        type: "POST",
        success: function (res) {
            val = res.data
            x = val.id_prov
            y = val.nama_provinsi
            var myselect = $('<select>');
            myselect.append($('<option></option>').val(x).html(y));
            $('#id_prov_fk').append(myselect.html());
        }

    })
    $.ajax({
        url: '/kab/32',
        type: "POST",
        success: function (res) {
            val = res.data
            var myselect = $('<select>');
            $.each(val, function (key, index) {
                var y = index.id_kab
                var x = index.nama_kab
                myselect.append($('<option></option>').val(y).html(x));
            });
            $('#id_kab_fk').append(myselect.html());
        }

    });

    function GetValue(id) {
        id = $('#id_kab_fk').val();
        pip = [];
        console.log("pip 2 : ", pip)
        $.ajax({
            url: '/kec/' + id,
            type: 'POST',
            success: function (res) {
                val = res.data
                pip = [];
                console.log("pip 3 : ", pip)
                $.each(val, function (id, text) {
                    pip.push({
                        id: text.id_kec,
                        text: text.nama_kecamatan,
                    })
                    $('#id_kec_fk').select2({
                        data: pip
                    })
                })

            }
        })
    }

    function readURL1(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview1').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview1').hide();
                $('#imagePreview1').fadeIn(650);


            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function readURL2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview2').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview2').hide();
                $('#imagePreview2').fadeIn(650);


            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function readURL3(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview3').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview3').hide();
                $('#imagePreview3').fadeIn(650);


            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function readURL4(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview4').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview4').hide();
                $('#imagePreview4').fadeIn(650);


            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function readURL5(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview5').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview5').hide();
                $('#imagePreview5').fadeIn(650);


            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function readURL6(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview6').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview6').hide();
                $('#imagePreview6').fadeIn(650);


            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function readURL7(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview7').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview7').hide();
                $('#imagePreview7').fadeIn(650);


            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#lampiran_tahun_pembentukan").change(function () {
        readURL1(this);
    });
    $("#diket_kep_dc").change(function () {
        readURL2(this);
    });
    $("#lampiran_sk_bupati").change(function () {
        readURL3(this);
    });
    $("#lampiran_akte_notaris").change(function () {
        readURL4(this);
    });
    $("#lampiran_pendaftaran").change(function () {
        readURL5(this);
    });
    $("#lampiran_ad_art").change(function () {
        readURL6(this);
    });
    $("#lampiran_sekretariat").change(function () {
        readURL7(this);
    });
</script>
{{end}}