{{define "content"}}
<!-- Main content -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Profile</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Profile</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <!-- Profile Image -->
                <div class="card card-primary card-outline" style="height: auto">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <div class="profile-pic-wrapper">
                                <div class="pic-holder">
                                    <img id="profilePic" class="pic" src="/admin/templates/dist/img/default.jpg">
<!--                                    <label for="newProfilePhoto" class="upload-file-block">-->
<!--                                        <div class="text-center">-->
<!--                                            <div class="mb-2">-->
<!--                                                <i class="fa fa-camera fa-2x"></i>-->
<!--                                            </div>-->
<!--                                            <div class="text-uppercase">-->
<!--                                                Update <br/> Profile Photo-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </label>-->
<!--                                    <Input class="uploadProfileInput" type="file" name="profile_pic"-->
<!--                                           id="newProfilePhoto" accept="image/*" style="display: none;"/>-->
                                </div>
                                </hr>
                            </div>
                        </div>
                        <h3 class="profile-username text-center">Herman Santosa</h3>
                        <p class="text-muted text-center">Toko Cetak Cepat</p>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.card -->
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#profile"
                                                    data-toggle="tab">Detail Profile</a></li>
                            <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a>
                            </li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="profile">
                                <form class="form-horizontal">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Name</label>
                                        <div class="col-sm-1" >:</div>
                                        <div class="col-sm-9">
                                            <p>Herman Santosa</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Nomor Telepon</label>
                                        <div class="col-sm-1" >:</div>
                                        <div class="col-sm-9">
                                            <p>087123456789</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-1" >:</div>
                                        <div class="col-sm-9">
                                            <p>user@gmail.com</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Jenis Kelamin</label>
                                        <div class="col-sm-1" >:</div>
                                        <div class="col-sm-9">
                                            <p>Laki-Laki</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Tanggal Lahir</label>
                                        <div class="col-sm-1" >:</div>
                                        <div class="col-sm-9">
                                            <p>12 Desember 2012</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Alamat</label>
                                        <div class="col-sm-1" >:</div>
                                        <div class="col-sm-9">
                                            <p>Blabak RT03, Triwidadi, Pajangan, Bantul, Yogyakarta</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="settings">
                                <form class="form-horizontal">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="store" name="store"
                                                   placeholder="Masukan Nama"></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Nomor Telepon</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control" id="no_tlp" name="no_tlp"
                                                   placeholder="Nomor Telepon">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="no_tlp" name="no_tlp"
                                                   placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Jenis Kelamin</label>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="radio1">
                                                        <label class="form-check-label">L</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="radio1"
                                                               checked>
                                                        <label class="form-check-label">P</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Tanggal Lahir</label>
                                        <div class="col-sm-10">
                                            <div class="input-group date" id="reservationdate"
                                                 data-target-input="nearest">
                                                <input type="date" class="form-control datetimepicker-input"
                                                       data-target="#reservationdate"
                                                       placeholder="Masukkan Tanggal lahir"/>
                                                <div class="input-group-append" data-target="#reservationdate"
                                                     data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Alamat</label>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="address"
                                                               name="address"
                                                               placeholder="Provinsi">
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="address"
                                                               name="address"
                                                               placeholder="Kabupaten">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="address"
                                                                   name="address"
                                                                   placeholder="Kecamatan">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="address"
                                                                   name="address"
                                                                   placeholder="Daerah">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary" style="float: right;">Submit
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{{end}}